<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>

<body>
    <footer>
        <div>
            <h3>Nos Marques</h3>
            <ul>
                <li>Toyota</li>
                <li>Nissan</li>
                <li>Hyundai</li>
                <li>Peugeot</li>
                <li>Ford</li>
            </ul>
        </div>
        <div>
            <h3>A propos de Nous</h3>
            <ul>
                <li><i class="fa-solid fa-chevron-right"></i> MK automobile</li>
                <li><i class="fa-solid fa-chevron-right"></i> Demande de Devis</li>
                <li><i class="fa-solid fa-chevron-right"></i> Demande de rendez-vous</li>
                <li><i class="fa-solid fa-chevron-right"></i> Nos offres</li>
            </ul>
        </div>
        <div>
            <h3>Après vente</h3>
            <ul>
                <li><i class="fa-solid fa-chevron-right"></i> Entretien</li>
                <li><i class="fa-solid fa-chevron-right"></i> Pièce de rechange</li>
                <li><i class="fa-solid fa-chevron-right"></i> Tôlerie et peinture</li>
                <li><i class="fa-solid fa-chevron-right"></i> Accessoires</li>
            </ul>
        </div>
        <div>
            <h3>Suivez Nous</h3>
            <ul>
                <li>Facebook</li>
                <li>Instagram</li>
                <li>Twitter</li>
            </ul>
        </div>

    </footer>

</body>

</html>